# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# NuGet packages
*.nupkg
packages/
*.snupkg

# ASP.NET / Web projects
App_Data/
*.log
*.vspscc
*.vssscc

# Rider
.idea/

# Others
*.DS_Store
*.cache
*.pdb

